html, body {
  height: 100%;
}

header {
    background-color: #343a40;
    color: white;
    padding: 3px 0px 8px 20px;
    /* font-family: 'Oxygen', ; */
    font-family: 'Oxanium', ;
    font-size: 30px;
}

body {
    background: #007bff;  
    background: linear-gradient(to right, #0062E6, #33AEFF);
} 

h2 { 
    text-align: right;
}

.auth-image, .pMain {
    float: left;
    padding: 2px;
    clip-path: ellipse(40% 45% at 50% 50%);
    shape-outside: ellipse(130px 110px at 50% 50%);
}

.goTo {
    background: linear-gradient(to right, #0062E6, #33AEFF);
    border-radius: 5px;
    margin: 3px;
    width: 100%;
}

nav, .cards {
    background-color: black;
    color: #fefce2;
    font-family: 'Roboto Condensed', ;
}    
a:link, a:visited {
    text-decoration: none;
    color: #fefce2;
}    

a:hover, a:active, .navOptions:hover {
    color: #fede01;
    text-decoration: none;
}    

.form {
    margin-bottom: 8px;

}
.navOptions {
    background-color: black;
    color: #fefce2;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
} 

.extend {
    height: 100%;
    background-color: black;
}

.navOptions:hover, .navOptions:active {
    text-decoration: none;
}

.displayNone {
    display: none;
}  

.information {
    font-family: 'Noto Sans KR', ;
}

.infoSize {
    padding: 20px 40px 0px 0px;
}

.active {
    font-weight: bold;
    color: lightblue;
    font-size: 20px;
} 

.pMain {
    position: relative;
    float: left;
    width: 50%;
}

.projs h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fefce2;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

  .card {
    float: left;
    padding: 4px;
    margin: 8px;
    filter: drop-shadow(0px 5px 5px #00000040);
    height: 550px;
  }

  #typePro {
      height: 3em;
  }

  .card-title {
      position: absolute;
      top: 35%
  }

  .card-text {
    position: absolute;
    top: 41%
}

.btn-primary {
    margin: 2px 0px 2px;
}