html, body {
  height: 100%;
}

header {
    background-color: #343a40;
    color: white;
    padding: 3px 0px 8px 20px;
}

body {
    background: #007bff;  
    background: linear-gradient(to right, #0062E6, #33AEFF);
}  

.auth-image, .pMain {
    float: left;
    padding: 2px;
    clip-path: ellipse(40% 45% at 50% 50%);
    shape-outside: ellipse(130px 110px at 50% 50%);
}

.goTo {
    background: linear-gradient(to right, #0062E6, #33AEFF);
    border-radius: 5px;
    margin: 3px;
    width: 100%;
}

nav, .cards {
    background-color: black;
    color: white;
}    
a:link, a:visited {
    text-decoration: none;
    color: white;
}    

a:hover, a:active {
    color: pink;
    text-decoration: none;
}    

.form {
    margin-bottom: 8px;

}
.navOptions {
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
} 

.extend {
    height: 330px;
    width: 100%
}

.navOptions:hover, .navOptions:active {
    text-decoration: none;
}

.displayNone {
    display: none;
}  

.infoSize {
    padding: 20px 40px 0px 0px;
}

.active {
    font-weight: bold;
    color: lightblue;
    font-size: 20px;
} 

.pMain {
    position: relative;
    float: left;
    width: 50%;
}

.projs h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

footer {
    width: 100%;
    text-align: right;
}

/* CODE for media query with MAX WIDTH 980px */
@media screen and (max-width: 845){
    .extend {
        height: 30px;
    }
}    

/* CODE for media query with MAX WIDTH 980px */
@media screen and (max-width: 767px){
.extend {
    height: 5px;
}

.infoSize {
    margin: 10px 20px 0px 20px;
}
}